<% layout("./layouts/boilerplate") %>
                   
    <h3>All Listings</h3>


    <ul>
        <div class="listings">
            <% for(listing of allListings) { %>

                <a href="/listings/<%= listing._id %>">
                    <div class="card listing-card">
                        <img src="<%= listing.image %>" class="card-img-top" alt="img">

                        <div class="card-img-overlay"></div>

                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b> <br>
                                <%= listing.country %> <br>
                                <b>&#8377; <%= listing.price %></b>/night
                            </p>
                        </div>
                    </div>
                </a>

            <% } %>
        </div>
    </ul>